

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}



.footer__column-links {
  margin: 0 auto 16px;
  list-style: none;
  padding: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 20px;
  color: white;
}

.footer__column-link {
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
